.app {
    @extend .cover-all;
    &__header, &__aside {
        background: white;
    }
    &__header {
        @extend .fix-at-top;
        @include my-ed-container($full: true);
        @include crossCenter;
        border-bottom: 1px solid;
        height: $header-height;
        z-index: 40;
        @include from(xl) {
            left: $aside-max-width;
        }
    }
    &__navigator-bar {
        margin-left: auto;
    }
    &__aside {
        @extend .primary-window-content;
        background: white;
        top: $header-height;
        z-index: 30;
        @include from(m) {
            max-width: $aside-max-width;
            border-right: 1px solid black;
        }
        @include from(xl) {
            top: 0px;
        }
        & > .app__navigator-bar {
            border-width: 1px 0px;
            border-style: solid;
        }
    }
    &__main {
        position: absolute;
        top: $header-height;
        z-index: 0;
        right: 0px;
        left: 0px;
        &-content {
            padding-top: 20px;
            max-width: 90%;
            margin: 0 auto;
        }
        @include from(l) {
            left: $aside-max-width;
        }
        
    }
    &__title-box {
        text-align: center;
    }
}