// palette: http://paletton.com/#uid=21C0u0kdlu74tOY8DD5iso+nvjR

$colors: (
    main: #F0E68C,
    complementary: #7E65A3
);

$slow-strength: 20%;
$medium-strength: 50%;
$high-strength: 80%;

@each $color-name, $hex-color in $colors {
    .#{$color-name}-colorized {
        background: grayscale($hex-color);
        color: grayscale(darken($hex-color, $slow-strength));
        h1 {
            color: darken(adjust-hue($color: $hex-color, $degrees: $slow-strength), $slow-strength);
        }
        a {
            color: darken(adjust-hue($color: $hex-color, $degrees: $medium-strength), $slow-strength);
        }
    }
}